@import '~react-agenda/build/styles.css';
@import '~react-datetime/css/react-datetime.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

p {
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

header {
    position: absolute;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(121, 154, 77, 0.95) -8.72%, rgba(47, 82, 151, 0.95) 108.18%);
}

.headerAboutUs {
    position: absolute;
    width: 100%;
    height: 25%;
    background: linear-gradient(180deg, rgba(121, 154, 77, 0.95) -8.72%, rgba(47, 82, 151, 0.95) 108.18%);
}

.headerLoginPage {
    top: 0px; 
    position: absolute;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, rgba(121, 154, 77, 0.95) -8.72%, rgba(47, 82, 151, 0.95) 108.18%);
}

.headerProfil {
    top: 0px; 
    position: absolute;
    width: 100%;
    height: 20%;
    background: linear-gradient(180deg, rgba(121, 154, 77, 0.95) -8.72%, rgba(47, 82, 151, 0.95) 108.18%);
}

footer{
    width: 100%;
    height: 60px;
    font-size: 80%;
    bottom:0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    color: white;
    background-color: #3A6898;
    border-top: 0.1px solid #799A4D;
}
  
.sign {
    width: 100%;
    height: 40%;
    background-color: #799A4D;
    color: white;
    position: absolute;
    display: flex;
    top:0px
}

.formulaire {
    width: 40%;
    height: 300px;
    background-color: #86ae55;    
    margin-top: 20%;    
    margin-left: 30%;
    text-align: center;
    position: center
}

.Input {
    margin-top: 120%;
    margin-left: -370%; 
}

.form-control {
    display: inline;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.login {
    width: 100%;
    background: linear-gradient(180deg, #7F9F56 0%, #3A6898 88.02%), linear-gradient(180deg, rgba(97, 154, 77, 0.95) 0%, rgba(97, 154, 77, 0.475) 0.01%, rgba(97, 154, 77, 0) 4.17%, rgba(97, 154, 77, 0) 71.35%);
    color: white;
    position: absolute;
    top: 0px;
    display: flex;
    font-size: 125%;
}
    
.loginBody {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    margin-left: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 400px;
}


.label{
    color: hsla(241, 96%, 47%, 0.925);
    font-size: 14px;
}

.img_assistante-medicale {
    position: absolute;
    margin-left: 10%;
    margin-top: 5%;
}

.inputLogin{
    cursor: pointer;
    position: absolute;
    margin-left: 11%;
    margin-top: -1%;
}

.loginFooter  {
    width: 100%;
    height: 60px;
    font-size: 80%;
    bottom:0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    color: white;
    background-color: rgb(64, 64, 197);
    border-top: 0.1px solid #4452ebd1;
}

.aboutUs{
    /* text-align: center; */
    margin-top: 12%;
}

.headerPassforgotten {
    width: 100%;
    height: 30%;
    color: white;
    position: absolute;
    display: flex;
    background: #ecf0f1;
    top: 0px
}

.reset {
    display: flex;
    align-items: center;
    margin-top:1%;
    margin-left: 5%; 
    align-items: center;
    justify-content: space-around;
    background:  #f7f9f9 ;
    border: 2px solid #dccc25;
    width: 90%;
    height: 500px;
}

.information {
    width: 95%;
    height: 100px;
    background:  #f1dddd ;
    border: 1px solid red;
    margin-top: -28%;
    margin-left: -38%;
    text-align: center;
}

.resetpwd{
    text-align: center;
    margin-top: 10%;
    margin-left: -140%;
}

.headerPrincipal {
    width: 100%;
    height: 20%;
    color: white;
    position: absolute;
    display: flex;
    top: 0px
}

.userpicture {
    border-radius: 50%;
    vertical-align: middle;
}

.menu-bar {
    display: flex; 
    align-items: center; 
    margin-top: 7.7%;
    cursor: pointer;
    background: rgba(58, 104, 152, 0.11);
    border: 1px solid #719458;
    position: absolute;
    width: 20%;
    height: 70%;
    z-index: 999;
    /*position: fixed; */
   
}
  
.menu-bar svg {
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}
  
.menu-items {
    list-style: none;
    padding: 0;
}
  
.menu-items li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 46px;
    border-bottom: 1px solid #ddd;
}
  
/* .menu-items li:last-child {
    border-bottom: none;
} */
  
.menu-items li:hover {
    background-color: #ddd;
}
  
.menu-items li svg {
    margin-right: 10px;
    font-size: 15px;
}

.container {
    width: 25%;
    margin-top: -40%;
    margin-left: 73%;
}
  
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    width: 54%;
    margin-left: 17.5%;
    margin-top: -28%;
    cursor: pointer;
}
  
.menu-bar-horizontal {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu-bar-horizontal li {
    margin-right: 20px;
}
  
.menu-bar-horizontal a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}
  
.menu-bar-horizontal a:hover {
    color: blue;
}
  
.menu-bar-horizontal a svg {
    margin-right: 10px;
}
  
.menu-bar-title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(36, 154, 36)
}

.agenda {
    width: 70%;
    margin-left: 13%;
    margin-top: 10%;
}

.infos {
    position: absolute;
    width: 70%;
    height: 60%;
    left: 25%;
    top: 25%;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px rgba(152, 161, 178, 0.1), 0px 1px 4px rgba(69, 75, 87, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    position: absolute;
    width: 40px;
    height: 32px;   
    left: 2%;
    top: 3%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.16), 0px 2px 5px rgba(89, 96, 120, 0.1);
    border-radius: 6px;
}

.profil {
    position: fixed;
    margin-top: 10%;
    margin-left: 25%;
    font-size: 1.2em;
}

.profile-delete-button {
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 150%;
    width: 45%;
}

.profile-delete-button:hover {
    background-color: #c9302c;
}

.photo-profil {
    margin-left: 10%;
    margin-top: 40%;
}

.p {
    color: rgb(94, 88, 88)
}

.allInputs {
    margin-left: 60%;
    margin-top: 8%;
    
}

.cadre {
    margin-left: 50%;
    margin-top: 12%;
    padding: 20px;
    position: absolute;
    width: 40%;
    height: 50%;
    background: #FFFFFF;
    border: 2px dashed #799A4D;
    border-radius: 30px;
    
  }

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 5px;
}
  
label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 5px;
    color:rgb(36, 154, 36)
} 
  
button[type="submit"] {
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 50%;
}
  
button[type="submit"]:hover {
    background-color: #005fa3;
}
  
.allProfilPage {
    /* background-image: url(../images/bg.jpg) */
    background-color:   #fdfefe;
}

.childrenUpload{
    margin-left: 30%;
    /* margin-top: 10%; */
}

.TitleContact {
    text-align: center;
    margin-top: 25%;
}

.form-control2 {
    display: inline;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    align-items: center;
}
.Inputs {
    margin-left: 15%;
}

.profile-card {
    display: flex;
    margin-left: 25%;
    margin-top: -40%;
}
  
.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Pprofil {
    margin-left: 25%;
    margin-top: 12%;
}
  
.profile-picture img {
    width: 200px;
    height: 170px;
    border-radius: 50%;
}
  
.profile-details {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 200px;
}
  
.profile-details p {
    margin-bottom: 10px;
}
  
.profile-details p:last-child {
    margin-bottom: 0;
}

.profile-detail {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}
  
.profile-detail p {
    margin-bottom: 10px;
}
  
.profile-detail p:last-child {
    margin-bottom: 0;
}
  
@media (min-width: 768px) {
    .doctor-profile {
      flex-direction: row;
      justify-content: space-between;
}
  
    .logo-container {
        margin-top: 0;
    }

    .profile-picture {
        margin-right: 50px;
    }
}
  
.profile-details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    margin-top: -10%;
    margin-left: 42%;
}

.profile-details {
    width: 50%;
    height: 130px;
    margin-left: 10%;
    overflow-y: auto;
}

/* Personnalisation de la barre de défilement pour les navigateurs Webkit (Chrome, Safari, etc.) */
.profile-details::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.profile-details::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #CBE2FF;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Personnalisation de la barre de défilement pour Firefox */
.profile-details {
    scrollbar-width: thin;
    scrollbar-color: #3A6898 transparent;
}

.graph {
    margin-left: 20%;
}

.diagramme {
    margin-left: 60%;
    margin-top: -20%;
}

.btnresetPassword:hover {
    background-color: #005fa3;
}

.btn1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 161px;
    position: absolute;
    width: 10%;
    height: 8%;
    margin-left: 28%;
    margin-top: 2%;
    background: #3A6898;
    border-radius: 30px;
}

.btn2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 161px;
    position: absolute;
    width: 15%;
    height: 8%;
    margin-left: 51%;
    margin-top: 2%;
    background: #719458;
    border-radius: 30px;
}

.btn3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 161px;
    position: absolute;
    width: 18%;
    height: 8%;
    margin-left: 77%;
    margin-top: 2%;
    background: #3A6898;
    border-radius: 30px;
}

.btn4{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 161px;
    position: absolute;
    width: 15%;
    height: 8%;
    margin-left: 51%;
    margin-top: 20%;
    background: #719458;
    border-radius: 30px;

}

.titleDataPage {
    position: absolute;
    left: 35%;
    top: 25%;
    font-family: 'DM Sans';
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: right;
    color: #719458;
}

.tcadre {
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0px;
    top: 0px;
    background: rgba(244, 247, 252, 0.75);
    backdrop-filter: blur(4px);
}

.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    width: 559px;
    height: 32px;
    left: 82px;
    top: 3%;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(104, 113, 130, 0.16);
}

.graphe {
    margin-left: 15%;
    width: 80%;
    height: 50%;
}

.btnSend {
    font-family: 'Work Sans';
    font-style:'normal';
    margin-left: '50%'
}

.date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
.react-datepicker-wrapper {
    margin: 10px;
}
  
.react-datepicker {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.react-datepicker__header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
  
.react-datepicker__current-month,
.react-datepicker-time__header {
    font-weight: bold;
    font-size: 18px;
}
  
.react-datepicker__navigation {
    top: 20px;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
}
  
.react-datepicker__navigation--previous {
    border-right-color: #fff;
}
  
.react-datepicker__navigation--next {
    border-left-color: #fff;
}
  
.react-datepicker__day-names {
    display: flex;
    justify-content: space-around;
    margin: 2px 0;
    font-size: 14px;
}
  
.react-datepicker__day-name,
.react-datepicker__day {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 2px;
    border-radius: 50%;
}
  
.react-datepicker__day--selected,
.react-datepicker__day--in-range {
    background-color: #007bff;
    color: #fff;
}
  
.react-datepicker__day--keyboard-selected {
    background-color: rgba(0, 123, 255, 0.5);
}
  
.react-datepicker__day--disabled {
    opacity: 0.5;
    cursor: default;
}
